body
{
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: white;
    font-size: 10px;
    margin: 0;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
}
.logo
{
    text-align: center;
    width: 60px;
    height: 60px;
    
    font-size: 2.4em;
    filter: invert(98%) sepia(18%) saturate(768%) hue-rotate(40deg) brightness(120%) contrast(94%);
}
.navbar
{
    margin: 0;
    list-style: none;

    display: flex;
    gap: 20px;

    align-items: center;
}

.navbar, .splash-description
{
    font-size: 1.8em;
    color: #e5e7eb;
}

.splash
{
    display: flex;
    margin: 90px 120px;
    gap: 15px;
    
    flex-wrap: wrap;
}
.splash-text
{
    flex: 1;
    gap: 10px;
}

.title
{
    font-size: 4.8em;
    font-weight: 800;

    margin: 0;
}

.splash-button
{
    background-color: #3882f6;

    border-width: 0;
    border-radius: 5px;
    padding: 10px 35px;

    font-size: 1.8em;
    font-weight: 800;
}

.title, .splash-button
{
    color: #f9faf8;
}

.splash-image
{
    flex: 1;
    max-height: 325px;
}

.items-display
{
    background-color: #f9faf8;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;


}
.items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.items-title
{
    margin: 30px 0;

    font-size: 3.6em;
    font-weight: 800;
}

.item
{
    max-width: 170px;
    text-align: center;
}

.item-image
{
    width: 170px;
    height: 170px;
    border: #3882f6 solid 4px;
    border-radius: 10px;
}
.item-description
{
    font-size: 1.6em;
    flex-wrap: wrap;
}

.quote
{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: #e5e7eb;
    color: #1f2937;
    padding: 70px 330px;
}
.quote-description
{
    margin: 0;
    font-size: 3.6em;
    font-style: italic;
    font-weight: 300;
}
.quote-person
{
    font-size: 2em;
    font-weight: 900;
    align-self: flex-end;
    margin-right: 55px;
}

.disclaimer
{
    flex: 1;

    background-color: #f9faf8;

    padding: 80px 100px;
}

.disclaimer-area
{
    width: auto;
    border-radius: 10px;

    background-color: #3882f6;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 120px;

}

.disclaimer-title
{
    margin: 0;
    font-size: 2.8em;
}
.disclaimer-description
{
    margin: 0;
    font-size: 2.2em;
}
.disclaimer-button
{
    background-color: #3882f6;

    border: #f9faf8 solid 3px;
    border-radius: 10px;
    padding: 10px 35px;

    font-size: 1.8em;
    font-weight: 800;
    color: #f9faf8;
}

footer
{
    margin: 0;
    padding: 20px;

    text-align: center;
    font-size: 1.8em;
}